.create-routine {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}


.create-routine h1 {
  color: #333;
}

/* Para asegurar que los componentes tengan el mismo ancho */
.workout-form,
.cardio-form,
.exercise-notes,
.youtube-section,
.rest-timer {
  width: 100%;
}

.action-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.save-draft-btn {
  padding: 1rem 2rem;
  background-color: #d35400;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.save-draft-btn:hover {
  background-color: #e67e22;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.save-draft-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.current-date {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .create-routine {
    padding: 1rem;
  }

  .action-buttons {
    flex-direction: column;
    padding: 0 1rem;
  }

  .save-draft-btn {
    width: 100%;
  }

  .current-date {
    font-size: 1.5rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
  }
} 