@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');


* {
  font-family: "Nova Flat", serif;
}

body {
  background-color: #b6c4e6;  /* Gris azulado suave */
  margin: 0;
  padding: 0;
} 